*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;  
 }
 .navbar{
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   padding-right: 15px;
   padding-left: 15px;
   padding-top: 15px;
   padding-bottom: 15px;
   border-radius: 0px;
   background-color: #9ab0afd9;
 }
 .navdiv{
   display: flex;
   align-items: center;
   justify-content: space-between;
 }
 .logo a{
   font-size: 35px;
   color: rgb(0, 0, 0);
   font-family: "Anta", sans-serif;
   font-weight: 500;
   font-style:normal;
   text-decoration: none;
 }
 .navdiv li{
   list-style: none;
   display: inline-block;
 }
 .navdiv li a{
   color: rgb(0, 0, 0);
   font-size: 18px;
   font-weight:500;
   margin-right: 45px;
   text-decoration: none;
   cursor: pointer;
 }
 .navdiv  li a:hover {
   color: #ffffff;
 }
 .navdiv button{
   background-color: rgb(170, 148, 35);
   margin-left: 10px;
   border-radius: 8px;
   padding: 10px;
   width: 80px;
   cursor: pointer;
   border: 2px;
   
 }
 .navdiv button a{
   color: white;
   font-weight:600;
   font-size: 15px;
   text-decoration: none;
 }
 .navdiv button:hover{
   background-color: #c3c379;
 }
 .bus{
   height: 100vh;
   width: 100%;
   background-image: url("_797595fa-1137-4750-b26c-404b26326143.jpeg");
   background-size: contain;
   background-position:right ;
   background-repeat: no-repeat;
 }
 .search-bus{
   margin-top: 13%;
   margin-left: 6%;
   background-color: #9ab0afd9;
   width: 30%;
   height: 47%;
   border-radius: 10px;
 }
 .search-bus input[type="search"] {
     width: 90%;
     padding: 20px;
     font-size: 16px;
     border: 1px solid #ccc;
     border-radius: 10px;
   margin-left: 5%;
   margin-top: 3%;
 }
 .search-bus input[type="number"] {
     width: 90%;
     padding: 20px;
   margin-top: 2%;
     font-size: 16px;
     border: 1px solid #ccc;
     border-radius: 10px;
   margin-left: 5%;
 }
 .search-bus input[type="date"] {
     width: 90%;
     padding: 20px;
   margin-top: 2%;
     font-size: 16px;
     border: 1px solid #ccc;
     border-radius: 10px;
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   color: #000000b0;
   margin-left: 5%;
 }
 .search-bus button{
   padding: 10px;
   margin-top: 2%;
   margin-left: 30%;
   cursor: pointer;
   border-radius: 10px;
   width: 30%;
   height: 8%;
   border: 0px solid;
   
 }
 .search-bus button a{
   text-decoration: none;
   color: #000;
 }
 /*nav{
     
     background-color: rgb(0, 0, 0);
     display: flex;
     align-items: center;
     justify-content: space-between;
     padding-top: 40px;
     padding-left: 10px;
     padding-right: 10px;
 }
 .logo{
     color: hsl(206, 73%, 4%);
     font-size: 28px;
 }
 nav ul li{
     list-style-type: none;
     display: inline;
     justify-content: space-between;
     padding-inline: 10px 20px;
 }
 nav ul li a{
     color: black;
     text-decoration: none;
     font-weight: bold;
 }
 nav ul li a:hover{
     color: blue;
     transition: .3s;
 }
 button{
     border: square;
     background: lightgray;
     padding: 12px 30px;
     border-radius: none;
     color: black;
     font-weight: bold;
     font-size: 15px;
     transition: .4s;
 }
 button:hover{
     transform: scale(1.3s);
     cursor: pointer;
 }*/
 .bus section{
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     background-color: rgba(242, 239, 239, 0.689);
     height: 50%;
     width: 30%;
     justify-content:space-between;
     position: bottom;
     padding-inline: 10px 20px;
     display: inline-block;
     align-items: center;
 }
 *{
     margin: 0;
     padding: 0;
     -webkit-box-sizing: border-box;
             box-sizing: border-box;
   }
   
   h1{
     font-size: 2.5rem;
     font-family: 'Montserrat';
     font-weight: normal;
     color: #444;
     text-align: center;
     margin: 2rem 0;
   }
   
   .wrapper{
     width: 90%;
     margin: 0 auto;
     max-width: 80rem;
   }
   
   .cols{
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     -ms-flex-wrap: wrap;
         flex-wrap: wrap;
     -webkit-box-pack: center;
         -ms-flex-pack: center;
             justify-content: center;
   }
   
   .col{
     width: calc(25% - 2rem);
     margin: 1rem;
     cursor: pointer;
   }
   
   .container{
     -webkit-transform-style: preserve-3d;
             transform-style: preserve-3d;
       -webkit-perspective: 1000px;
               perspective: 1000px;
   }
   
   .front,
   .back{
     background-size: cover;
     box-shadow: 0 4px 8px 0 rgba(0,0,0,0.25);
     border-radius: 10px;
       background-position: center;
       -webkit-transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
       transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
       -o-transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
       transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
       transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
       -webkit-backface-visibility: hidden;
               backface-visibility: hidden;
       text-align: center;
       min-height: 280px;
       height: auto;
       border-radius: 10px;
       color: #fff;
       font-size: 1.5rem;
   }
   
   .back{
     background: #cedce7;
     background: -webkit-linear-gradient(45deg,  #cedce7 0%,#596a72 100%);
     background: -o-linear-gradient(45deg,  #cedce7 0%,#596a72 100%);
     background: linear-gradient(45deg,  #cedce7 0%,#596a72 100%);
   }
   
   .front:after{
       position: absolute;
       top: 0;
       left: 0;
       z-index: 1;
       width: 100%;
       height: 100%;
       content: '';
       display: block;
       opacity: .6;
       background-color: #000;
       -webkit-backface-visibility: hidden;
               backface-visibility: hidden;
       border-radius: 10px;
   }
   .container:hover .front,
   .container:hover .back{
       -webkit-transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
       transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
       -o-transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
       transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
       transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
   }
   
   .back{
       position: absolute;
       top: 0;
       left: 0;
       width: 100%;
   }
   
   .inner{
       -webkit-transform: translateY(-50%) translateZ(60px) scale(0.94);
               transform: translateY(-50%) translateZ(60px) scale(0.94);
       top: 50%;
       position: absolute;
       left: 0;
       width: 100%;
       padding: 2rem;
       -webkit-box-sizing: border-box;
               box-sizing: border-box;
       outline: 1px solid transparent;
       -webkit-perspective: inherit;
               perspective: inherit;
       z-index: 2;
   }
   
   .container .back{
       -webkit-transform: rotateY(180deg);
               transform: rotateY(180deg);
       -webkit-transform-style: preserve-3d;
               transform-style: preserve-3d;
   }
   
   .container .front{
       -webkit-transform: rotateY(0deg);
               transform: rotateY(0deg);
       -webkit-transform-style: preserve-3d;
               transform-style: preserve-3d;
   }
   
   .container:hover .back{
     -webkit-transform: rotateY(0deg);
             transform: rotateY(0deg);
     -webkit-transform-style: preserve-3d;
             transform-style: preserve-3d;
   }
   
   .container:hover .front{
     -webkit-transform: rotateY(-180deg);
             transform: rotateY(-180deg);
     -webkit-transform-style: preserve-3d;
             transform-style: preserve-3d;
   }
   
   .front .inner p{
     font-size: 2rem;
     margin-bottom: 2rem;
     position: relative;
   }
   
   .front .inner p:after{
     content: '';
     width: 4rem;
     height: 2px;
     position: absolute;
     background: #C6D4DF;
     display: block;
     left: 0;
     right: 0;
     margin: 0 auto;
     bottom: -.75rem;
   }
   
   .front .inner span{
     color: rgba(255,255,255,0.7);
     font-family: 'Montserrat';
     font-weight: 300;
   }
   
   @media screen and (max-width: 64rem){
     .col{
       width: calc(33.333333% - 2rem);
     }
   }
   
   @media screen and (max-width: 48rem){
     .col{
       width: calc(50% - 2rem);
     }
   }
   
   @media screen and (max-width: 32rem){
     .col{
       width: 100%;
       margin: 0 0 2rem 0;
     }
   }
 
   body{
     margin:0;
     overflow-x:hidden;
     }
     
     .footer{
     background:#000;
     padding:30px 0px;
     font-family: 'Play', sans-serif;
     text-align:center;
     }
     
     .footer .row{
     width:100%;
     margin:1% 0%;
     padding:0.6% 0%;
     color:gray;
     font-size:0.8em;
     }
     
     .footer .row a{
     text-decoration:none;
     color:gray;
     transition:0.5s;
     }
     
     .footer .row a:hover{
     color:#fff;
     }
     
     .footer .row ul{
     width:100%;
     }
     
     .footer .row ul li{
     display:inline-block;
     margin:0px 30px;
     }
     
     .footer .row a i{
     font-size:2em;
     margin:0% 1%;
     }
     
     @media (max-width:720px){
     .footer{
     text-align:left;
     padding:5%;
     }
     .footer .row ul li{
     display:block;
     margin:10px 0px;
     text-align:left;
     }
     .footer .row a i{
     margin:0% 3%;
     }
     }